.chat-profile::-webkit-scrollbar, .chat-text-main::-webkit-scrollbar, .chat-date::-webkit-scrollbar, span::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 426px) {
}

@media only screen and (min-width: 769px) { 
}

.chat--tp-img {
  width: auto;
  height: 130px;
  position: relative;
}

.chat--tp-img img {
  height: calc(100% - 30px);
}

.chat--tp-img-text--table span {
      font-size: 10px;
    font-weight: 100;
    color: #861A1A;
}

.chat--tp-img-text--absolute {
  position: absolute;
  top: 0;
  left: 0;
}